#title{

    background-color: #ff4c68;
    color: #fff;
}

.body{
    font-family: 'Montserrat';
}

p{
    color: #8f8f8f;
}

h1
{

    font-family: 'Montserrat', sans-serif;
    
    font-weight: 900;

}

h2{
    font-family: "Montserrat";
    font-size:3rem;
    font-weight:800;
    line-height: 1.5;
}
h3

{
     font-family: "Montserrat";
    font-size: 1.5rem;
}


/* Headings  */

big-heading
{
    size: 3 rem;
    line height: 1.5;
}


.container-fluid
{
    padding: 3% 15%;
}

/* Navbar Styling */
.navbar-brand{

    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight:bold;
}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{

    font-size:1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}


/* Download Buttons */
.download-btn
{
    margin: 5% 3% 5% 0;
    
}

/* Title image */
.title-img
{
    width:60%;
    transform: rotate(25deg);
    
    right: 30%;
}

#features{
    padding : 7% 15%;
    background-color: white;
    

}
.feature-box
{
   text-align: center;
   padding: 4.5%;

}

.icon
{
    color:#ff4c68;
    margin-bottom: 1rem;

}

.icon:hover
{
    color:#ef8172;
}

/* Testimonials */

#testimonials
{
    padding: 7% 15%;
    text-align:center;
    background-color: #ef8172;
    color: white;

        
}

.testimonial-img
{
     widows: 10%;
     border-radius:100%;
     margin:20px;
}

#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom: 3%;
}

.press-logo
{
    margin: 20px 20px 50px;
    width:15%;
}




#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column
{ 
    padding:3% 2%;


}

@media (max-width :1028px)
{
    #title
    {
        text-align: center;
    }
    .title-img
    {
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    color:white;
    text-align: center;
    padding: 7% 15%;
   
    font-size: 3rem;
}

.cta-heading
{
    font-family: "Montserrat";
    font-weight: 900;
    font-size:3.5rem;
    line-height: 1.5;
}

#footer
{
    text-align :center;
    
 padding : 7% 15%; 
}

.social-class
{
    margin: 20px 10px;
}
